<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>

<p>
  <strong>Crm:</strong>
  <%= @doctor.crm %>
</p>